name: Continuous Integration

on:
  workflow_call:
  pull_request:
    branches:
      - '**'

jobs:
  build:
    name: Build and Test
    strategy:
      matrix:
        java: 
          - 11
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: sbt

      - name: Lint
        run: scripts/validate-code check

      - name: Test project
        run: sbt +compile +test
