name: Publish artifacts

on:
  push:
    # Disabling SNAPSHOT publication
    # If we wanted to, we should first enable it on Central: https://central.sonatype.org/publish/publish-portal-snapshots/
    #branches:
    #  - 'master'
    tags:
      - 'v*'

jobs:
  build:
    uses: ./.github/workflows/ci.yml
    
  publish:
    name: Publish Artifacts
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11
          cache: sbt

      - name: Setup SBT
        uses: sbt/setup-sbt@v1

      - name: Publish project
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        run: sbt ci-release
